extends layout.pug

block content
  .events
    .wrapper
      -for (var i = 0; i < 6; i++)
        .event
          .img
            img(src="images/events.png")
          .desc
            span.date 12 ოქტომბერი
            h2 გერმანიის ელჩი სტუმრად ვინერიაში
            p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის  აღქმაში ხელი შეუშალოს. გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე ...
