extends layout.pug

block content
  .gallery
    .wrapper
      -for(i=0; i<6; i++)
        .g
          .cover
            img(src='images/events.png')
          a(href='galleryinner.html') გერმანიის ელჩი სტუმრად ვინერიაში
