extends layout.pug

block content
  
  .main
    .scrollContent
      .koncefcia.active
        .wrapper
          .desc
            h2 კონცეფცია
            p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია. <br> ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი.
          .img
            img(src="images/koncepcia.jpg")
      .images
        .wrapper
          -for (var i = 0; i < 6; i++)
            .img
      .address
        .wrapper
          ul.info
            li.pin <img src="images/pin.png"> თამარაშვილის ქ. #45
            li.mobile <img src="images/phone.png"> +995 558 77 77 77
            li.phone <img src="images/tell.png"> 0322 2 22 44 11
            li.email <img src="images/email.png"> <a href="mailto: info@vineria.ge">info@vineria.ge</a>
        #map
    .scroller
      span.up
      span.down
