doctype
html
  head
    title welcome
    style
      include css/welcome.css
  body
    .intro
      a.logo(href="index.html")
        img(src="images/logobig.png")
      ul.lang
        li.active
          a(href="#") ქა
        li
          a(href="#") EN
        li
          a(href="#") ру
