doctype
html
  head
    title welcome
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/fonts.css")
    style
      include css/welcome.css
  body
    .intro
      a.logo(href="index.html")
        img(src="images/logo.png")
      ul.lang
        li.active
          a(href="#") ქა
        li
          a(href="#") EN
        li
          a(href="#") ру
